<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Hello! I'm Bruce, a recent alumni of Imperial College London, specialised in M.Sc Risk Management and 
          Financial Engineering, with a Undergraduate degree in B.Eng Hons Computer Science and Electronics from University of Bristol.</p>

        <p>I have strong interests in quantitative finance, data analytics, as well as Machine Learning. With recent projects including
          exotic options pricing through numerical methods, market-neutral trading strategy, and NLP sentiment analysis - forecasting
          implied volatility through tweets.</p>
        
        <p>In the professional environment, I have done internships in TTM Technologies as a Data Analyst, and Bank of East Asia under the
          fixed-income department. In both experiences, I have implemented my technical skills and worked collaboratively to solve problems
          everyday. Whether it is to optimise machine performances, speed of computation or writing a report, I am always eager and excited
          to solve the problem.</p>
          
        <p>Besides the quantitiative industry, I have personal interests in the creative fields, such as videography, 3d design and 
          interior design. </p>
        
        <div class="text-center">
          <a href="https://bruce1102.github.io/assets/Bruce Lau CV 200923.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Download CV
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
