<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Hello! I'm Bruce, a recent alumni of Imperial College Business School where I specialized in Risk Management and Financial Engineering. Born and nurtured in the vibrant city of Hong Kong, I later ventured to the United Kingdom for advanced studies.</p>

        <p>From a young age, I was captivated by the world of arts and crafts. My journey began with crafting intricate paper models, advancing to wooden creations, and eventually delving into complex mechanical projects. The realm of 3D printing was a game-changer for me. It not only revolutionized my approach to mechanical projects but also ushered me into the fascinating domains of electronics and computer programming. This newfound passion led me to projects involving drones, motion tracking, and automation.</p>
          
        <p>Recognizing my growing interest in technology, I pursued a degree in Computer Science and Electronics. This decision was fueled by my genuine passion and curiosity for the field. As I began managing my finances, I was drawn to the intricate world of trading and investments. It dawned on me how my proficiency in mathematics, computer science, and engineering could be harnessed in the financial sector. My personal success with algorithmic trading strategies inspired me to further my education with an advanced degree in Risk Management and Financial Engineering.</p>
          
        <p>Today, I possess a diverse skill set that includes data science, machine learning, probability, statistics, stochastic calculus, and much more. I'm excited to embark on new challenges and collaborations, leveraging my unique blend of artistic creativity and technical expertise.</p>
        
        <div class="text-center">
          <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Download CV
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
